@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 200;
  font-weight: var(--font-weight-ultralight);
  src: local("Gilroy UltraLight"), url(../fonts/Gilroy-UltraLight.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 300;
  font-weight: var(--font-weight-light);
  src: local("Gilroy Light"), url(../fonts/Gilroy-Light.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 400;
  font-weight: var(--font-weight-default);
  src: local("Gilroy Regular"), url(../fonts/Gilroy-Regular.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 500;
  font-weight: var(--font-weight-medium);
  src: local("Gilroy Medium"), url(../fonts/Gilroy-Medium.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 600;
  font-weight: var(--font-weight-semibold);
  src: local("Gilroy SemiBold"), url(../fonts/Gilroy-SemiBold.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 700;
  font-weight: var(--font-weight-bold);
  src: local("Gilroy Bold"), url(../fonts/Gilroy-Bold.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 800;
  font-weight: var(--font-weight-extrabold);
  src: local("Gilroy ExtraBold"), url(../fonts/Gilroy-ExtraBold.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-display: var(--font-display-default);
  font-stretch: normal;
  font-stretch: var(--font-stretch-default);
  font-style: normal;
  font-variant: normal;
  font-variant: var(--font-variant-default);
  font-weight: 900;
  font-weight: var(--font-weight-heavy);
  src: local("Gilroy Heavy"), url(../fonts/Gilroy-Heavy.otf) format("opentype");
  unicode-range: "U+0020-007D,  U+007F-00FF,  U+0131,  U+0152-0153,  U+02C6,  U+02DA,  U+02DC,  U+2000-206F,  U+2074,  U+20AC,  U+2212,  U+2215,  U+E0FF,  U+EFFD,  U+F000";
  unicode-range: var(--unicode-range-default);
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Gilroy",  sans-serif;
    color: var(--app-darker);
    background-color: var(--app-white);
    font-weight: 300;
}


.MuiPaper-root.MuiDialog-paper {
  color: var(--app-darker);
  background-color: var(--app-white);
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  background-color: var(--app-base);
  max-height: 40px;
  padding: 13px;
  width: 100%;
  border: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  font-family: inherit;
  font-size: 12px;
}


input:focus, select:focus {
  outline: max(2px, 0.15em) solid var(--app-dark);
  outline-offset: max(2px, 0.15em);
}

input::placeholder {
  color: var(--app-dark);
}

input:disabled {
  background-color: var(--app-whiter);
  color: var(--app-disabled-white);
  cursor: not-allowed;
}

select {
  appearance: none;
  cursor: pointer;
}

.input-label {
  position: relative;
}
.input-label.required span:first-of-type::after {
  display: inline;
  content: " *";
  vertical-align: top;
  color: var(--app-error-dark);
}
.input-label.invalid input,
.input-label.invalid select {
  outline: max(2px, 0.15em) solid var(--app-error-dark);
  background-color: var(--app-error);
}
.input-label.invalid .helperText {
  color: var(--app-error-dark);
}

.input-icon {
  position: absolute;
  right: 15px;
  top: 35px;
  pointer-events: none;
}

.checkbox {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.checkbox + .checkbox {
  margin-top: 1em;
}

.checkbox--disabled {
  color: var(--app-whiter);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--app-white-check);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--app-dark);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  color: var(--app-whiter);
  cursor: not-allowed;
}

.button {
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  font-family: inherit;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}

.button.primary {
  background-color: var(--app-darkest);
  border-color: var(--app-darkest);
  color: var(--app-white);
}

.button.secondary {
  background-color: var(--app-white);
  border-color: var(--app-base);
  color: var(--app-darkest);
}

input:-internal-autofill-previewed,input:-internal-autofill-selected {
  background-color: var(--app-base) !important;
}

form { 
  padding: 20px;
}
